<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>My Index</title>

    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="Login">

    <button ng-click="login()">Login</button>
    <button ng-click="tweet()">Tweet</button>
    <!-- vendorInject:js -->
    <script src="vendor/angular-ui-router.js"></script>
    <script src="vendor/angular.js"></script>
    <script src="vendor/satellizer.js"></script>
    <script src="vendor/ui-bootstrap-tpls.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="../.tmp/app.js"></script>
    <script src="../.tmp/login.js"></script>
    <!-- endinject -->
  </body>
</html>
